.home {
	padding: 20px;
	min-height: 100%;
	width: 100%;
}

.cardBody {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}

.repo img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
